{% extends "base.html" %}

{% block content %}
      <div class="container">
        <div class="row justify-content-center mb-3">
          <h1>Adding new entry to address book</h1>
        </div>

        {% if messages %}
           {% for message in messages%}
              <div class="alert alert-danger">{{message}}: {{messages[message]}}</div>
           {% endfor %}
        {% endif %}
        <div class="row justify-content-center">
          <form class="col-sm-6" action="/new_contact" method="post">
            <div class="form-group">
              <input
                class="form-control col-sm-12"
                type="text"
                placeholder="*name"
                name="name"
              />
             <small>*required field</small>
            </div>

            <div class="form-group">
              <input
                class="col-sm-12 form-control"
                type="text"
                placeholder="*phone"
                name="phone"
              />
              <small>*required field</small>
            </div>
            <div class="form-group">
              <input
                class="col-sm-12 form-control"
                type="text"
                placeholder="birthday"
                name="birthday"
              />
              <small>*in format yyyy-mm-dd</small>
              <small>*required field</small>
            </div>
            <div class="form-group">
              <input
                class="col-sm-12 form-control"
                type="email"
                placeholder="email"
                name="email"
              />
              <small>*required field</small>
            </div>

            <div class="form-group">
              <input
                class="col-sm-12 form-control"
                type="text"
                placeholder="address"
                name="address"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-secondary col-sm-12" type="submit">
                save
              </button>
            </div>

          </form>
        </div>
      </div>
{% endblock %}
